{
  "nyc": {
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "exclude": [
      "node_modules",
      "coverage",
      "self-coverage",
      "test/**/*"
    ]
  }
}